@use "../variables";
@use "../typography";
@use "../mixins";
@use "../themables";
@use "../colors";

.login {
  width: 100%;
  margin-top: -(variables.$navbar-height);
  @include mixins.center(vertical);

  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &_wrapper {
    position: relative;
    width: 100%;
    max-width: 320px;
    min-height: calc(100vh - variables.$navbar-height);
    margin-top: variables.$navbar-height;
    margin-left: auto;
    margin-right: auto;
  }

  &_continue {
    display: flex;
    flex-direction: column;
    gap: (variables.$spacer / 2);
    width: 100%;

    &_facebook {
      @include themables.button($filled: true, $bg: #4267b2, $invert: false);
    }

    &_apple {
      @include themables.button($filled: true, $invert: false);
    }
  }

  &_email {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: (variables.$spacer / 2);

    &_group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: (variables.$spacer / 2);

      @include typography.body;
      text-transform: uppercase;

      input {
        @include typography.input;
      }
    }

    button {
      @include themables.button($filled: false);
    }
  }
}

hr.line {
  width: 100%;
  border: none;
  border-bottom: 1px solid colors.$border;
  margin: variables.$spacer 0;
}
