@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/colors";

.navbar {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  padding-left: (variables.$spacer / 2);
  padding-right: (variables.$spacer / 2);

  @include mixins.respond-to("sidebar") {
    padding-left: variables.$spacer;
    padding-right: variables.$spacer;
  }

  &_wrapper {
    width: 100%;
    height: variables.$navbar-height;

    z-index: 4;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    background-color: hsla(0, 0%, 100%, 0.8);
    border-bottom: 1px solid colors.$border;
  }

  &_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-left: 0;

    @include mixins.respond-to("sidebar") {
      padding: variables.$spacer;
      padding-left: variables.$spacer;
    }

    & > div {
      flex: 1;
    }

    &_start {
      display: flex;
      justify-content: flex-start;

      a {
        font-family: "Montserrat", sans-serif;
      }
    }

    &_center {
      display: none;
      appearance: none;

      &_icon {
        font-size: 1.5rem;
      }

      @include mixins.respond-to("sidebar") {
        display: flex;
        justify-content: center;
      }
    }

    &_end {
      display: none;
      appearance: none;

      &_icon {
        font-size: 1.5rem;
      }

      @include mixins.respond-to("sidebar") {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.mobile {
  &_navbar {
    display: inline-flex;
    gap: variables.$spacer;
    max-width: max-content;

    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;

      svg {
        font-size: 1.5rem;
      }
    }

    @include mixins.respond-to("sidebar") {
      display: none;
      appearance: none;
    }
  }

  &_portal {
    width: 100vw;
    height: 100vh;

    position: fixed;
    left: 0px;
    top: 0px;

    &_wrapper {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      z-index: 5;
    }

    &_content {
      width: 100%;
      max-width: 20rem;
      height: 100vh;

      position: absolute;
      z-index: 6;
      left: 0px;
      top: 0px;

      background-color: colors.$light;

      @include mixins.shadow("md");
      transform: translateX(0%);
    }

    &_close {
      width: 100%;
      height: 100%;

      background-color: hsla(0, 100%, 0%, 0.4);
    }
  }
}
