@use "../../styles/colors";
@use "../../styles/typography";

.footer {
  max-height: 4rem;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid colors.$border;
  justify-content: center;
  align-items: center;

  @include typography.body;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}

.logo {
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 0.5rem;
}
