@use "../variables";

.character {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  width: 100%;
  // min-width: 0;
  max-width: 486px;
  height: 100%;

  padding: 1.5rem;
  text-decoration: none;

  border: 1px solid map-get($map: variables.$branding, $key: border);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  &:hover,
  &:focus,
  &:active {
    color: map-get($map: variables.$branding, $key: primary);
    border-color: map-get($map: variables.$branding, $key: primary);
  }

  img {
    border-radius: 50%;
  }

  &_about {
    text-align: center;

    h2 {
      margin: 0;
      font-size: 1.5rem;
    }

    p {
      margin: 0;
      font-size: 1.25rem;
      line-height: 1.5;
      white-space: wrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inherit;
    }

    @media only screen and (min-width: 499px) {
      text-align: left;
      margin-left: 1rem;
    }
  }

  @media only screen and (min-width: 499px) {
    flex-direction: row;
  }
}
