@use "../variables";

.card {
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;

  width: 100%;
  min-width: 0;
  max-width: 316px;
  height: 100%;

  border: 1px solid map-get($map: variables.$branding, $key: border);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  &:hover,
  &:focus,
  &:active {
    color: map-get($map: variables.$branding, $key: primary);
    border-color: map-get($map: variables.$branding, $key: primary);
  }

  img {
    border-radius: 10px;
  }

  h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;
  }
}
